nodered/flows.json
[{"id":"63586905.d52c88","type":"tab","label":"Piezos","disabled":false,"info":""},{"id":"a06d74db.919808","type":"mqtt in","z":"63586905.d52c88","name":"MQTT Server","topic":"piezos/#","qos":"0","datatype":"auto","broker":"a7d489d8.6c1098","x":90,"y":60,"wires":[["70f40ff7.e71c4","6825dd23.d4ee44"]]},{"id":"6825dd23.d4ee44","type":"debug","z":"63586905.d52c88","name":"debug msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"98201759.e4d558","type":"function","z":"63586905.d52c88","name":"Create query in topic","func":"var str= msg.topic;\nvar parts=msg.topic.split(\"/\");\nvar value=msg.payload\nmsg.payload = {\n    group: parts[0],\n    id:    parts[1],\n    sensor:parts[2],\n    date:  parts[3],\n    time:  parts[4]\n}\nvar out = \"INSERT INTO datos_campo (id,timestamp,topic,data)\"\nout = out + \" VALUES ('\" + msg.payload.id + \"',\" + \"str_to_date('\" + msg.payload.date + \" \" + msg.payload.time \nout = out + \"','%Y%m%d %H%i%s'),'\"\nout = out + msg.payload.sensor + \"','\" + value + \"') \"\nout = out + \" ON DUPLICATE KEY UPDATE `data` = '\" + value + \"';\"\nmsg.topic=out;\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":260,"wires":[["6825dd23.d4ee44","fb0664dc.8a5d48"]]},{"id":"fb0664dc.8a5d48","type":"mysql","z":"63586905.d52c88","mydb":"a94bccd0.624ab","name":"IoTMysql_localhost_piezos","x":160,"y":340,"wires":[[]]},{"id":"3ab7c8ed.471d28","type":"change","z":"63586905.d52c88","name":"str2number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["98201759.e4d558","8641bf47.b9f4"]]},{"id":"70f40ff7.e71c4","type":"function","z":"63586905.d52c88","name":"trim","func":"msg.payload = msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":100,"wires":[["3ab7c8ed.471d28"]]},{"id":"8641bf47.b9f4","type":"function","z":"63586905.d52c88","name":"Extract Data 4 Dashboard","func":"var str= msg.topic;\nvar parts=msg.topic.split(\"/\");\nvar value=msg.payload\nmsg.payload = {\n    group: parts[0],\n    id:    parts[1],\n    sensor:parts[2],\n    date:  parts[3],\n    time:  parts[4],\n    value: value,\n}\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":200,"wires":[[]]},{"id":"a7d489d8.6c1098","type":"mqtt-broker","name":"local mqtt server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a94bccd0.624ab","type":"MySQLdatabase","name":"IoTMysql_localhost_piezos","host":"127.0.0.1","port":"3306","db":"piezos","tz":"","charset":"UTF8"}]